.wrapper {
    margin-top: 10px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.title {
    margin-bottom: 12px;

    span {
        font-size: 1.6rem;
        cursor: pointer;
    }
}

.empty-order {
    text-align: center;
    padding: 50px 0;
}

.icon {
    font-size: 5rem;
}
