.wrapper {
    margin-top: 10px;
    padding: 0 120px;
    background-color: #fff;
}

.title {
    margin-bottom: 12px;

    span {
        font-size: 2rem;
        cursor: pointer;
    }
}

.shop {
    display: flex;
    margin-top: 30px;
    margin-bottom: 40px;
    padding: 20px;
    border-top: 1px solid #e9e9e9;
}

.info-shop {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-right: 25px;

    img {
        width: 60px;
        height: 60px;
        border-radius: 100rem;
    }
}

.shop-name {
    font-weight: 500;
    font-size: 16px;
}

.shop-interact {
    margin-top: 8px;

    button:first-child {
        &:hover {
            background-color: var(--primary-color-hover);
        }
    }
}

.interact-content {
    margin-left: 4px;
}

.more-info-shop {
    display: flex;
    padding: 0px 25px;
    gap: 100px;
    border-left: 0.5px solid #e9e9e9;
}

.block {
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 20px;
}

.block-content {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-title {
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.4);
    margin-right: 0.75rem;
}

.content {
    color: var(--primary-color-hover);
    white-space: nowrap;
    text-align: right;
}

.rate-product {
    padding: 15px 2%;
    border-top: 1px solid #e9e9e9;
}

.rate-title {
    font-weight: 400;
    font-size: 18px;
}

.star-rating {
    background-color: #f4fffa;
    padding: 30px 3%;
    margin-top: 15px;
    display: flex;
    gap: 10px;
}

.star-general {
    width: 13%;
}

.star-value {
    display: flex;
    gap: 8px;
    color: #ee4d2d;
    margin-bottom: 5px;

    h2 {
        font-weight: 500;
    }

    h3 {
        padding-top: 5px;
        font-weight: 500;
    }
}

.star-type {
    display: flex;
    gap: 20px;

    li {
        list-style: none;
        cursor: pointer;
        text-align: center;
        width: 120px;
        padding: 5px 0px;
        background-color: #fff;
        border: 1px solid #e9e9e9;
    }

    li:first-child {
        color: #ee4d2d;
        border: 1px solid #ee4d2d !important;
    }
}

.star-comment {
    text-align: center;
    cursor: pointer;
    width: 200px;
    padding: 5px 0px;
    margin-top: 8px;
    background-color: #fff;
    border: 1px solid #e9e9e9;
}

.rate-comment {
    padding: 0px 3% 30px 3%;
    margin-top: 20px;
    border: 1px solid #e9e9e9;
}
