.product-list {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 3px;
}

.product-item {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--text-item-header);

    &:hover {
        cursor: pointer;
    }
}
