.status-order {
    background-color: #e9e9e9;
    padding-left: 10px;
    span {
        color: red;
    }
}

.item-order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;

    article {
        position: relative;

        span {
            position: absolute;
            width: max-content;
            top: 50%;
            transform: translateY(-50%);
        }

        img {
            width: 80px;
            height: 80px;
            margin-right: 20px;
        }
    }

    & + .item-order {
        margin-top: 10px;
    }
}

.control-order {
    display: flex;
    flex-direction: column;

    & > * {
        align-self: flex-end;
    }

    p {
        color: red;
        font-size: 1.6rem;
        margin: 0 0 12px;

        span {
            color: #000;
            font-weight: 500;
        }
    }
}

.rate-star {
    display: flex;
    align-items: center;

    & > h3 {
        font-size: 1.4rem;
        font-weight: 500;
        margin-right: 16px;
    }
}

.feed-back {
    & > h3 {
        font-size: 1.4rem;
        font-weight: 500;
        margin-right: 16px;
        margin-bottom: 4px;
    }

    & > textarea {
        width: 100%;
    }
}

.rate-btn {
    float: right;
    margin-bottom: 8px;
}
