.title {
    color: rgb(56, 56, 61);
    font-size: 1.4rem;
}

.text-option {
    color: rgb(56, 56, 61);
    font-size: 1.2rem;
    font-weight: 400;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 10px;
}

.rating {
    display: flex;
    align-items: center;
    gap: 4px;
}

.rating-star {
    font-size: 1.2rem;
}

.price {
    font-size: 1.4rem;
    color: rgb(56, 56, 61);
    padding: 4px;
    border-radius: 10px;
    background-color: rgb(238, 238, 238);
    width: fit-content;
}
