.title {
    color: rgb(56, 56, 61);
    font-size: 2rem;
    margin-top: 20px;
    font-weight: 500;
}

.text-option {
    color: rgb(56, 56, 61);
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03), 0 1px 6px -1px rgba(0, 0, 0, 0.02), 0 2px 4px 0 rgba(0, 0, 0, 0.02);
    margin-right: 50px;
    padding: 5px 0px 5px 5px;
    background-color: #f4f3f3;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 15px;
    padding-left: 20px;
}

.rating {
    display: flex;
    align-items: center;
    gap: 4px;
}

.rating-star {
    font-size: 1.2rem;
}

.price {
    font-size: 1.4rem;
    color: rgb(56, 56, 61);
    padding: 4px;
    border-radius: 10px;
    background-color: rgb(238, 238, 238);
    width: fit-content;
}
