.div-card {
    padding-top: 3px;
    position: relative;
}
.div-card:hover {
    top: -3px;
}

.card-ant {
    border: none;

    div {
        margin: 0 !important;
    }
}

.header {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    max-width: 180px;

    & > * {
        margin: 0px;
    }
}

.location {
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 500;
    font-size: 1rem;
}

.title {
    flex: 1;
    display: block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 600;
}

.description {
    font-size: 1.1rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.rating {
    width: fit-content;
    li {
        margin-inline-end: 3px !important;
    }
}

.sold {
    font-size: 1.1rem;
    margin-left: 4px;
}

.price {
    font-weight: 500;
}

.favorite-btn {
    position: absolute;
    bottom: 22px;
    right: 22px;
    width: 40px;
    height: 40px;
    border-radius: 100rem;
    outline: none;
    border: 1px solid #000;
    background-color: transparent;
    &:hover {
        cursor: pointer;
    }

    &.favorite {
        background-color: #ee3529;
        border-color: #ee3529;
    }
}

.icon-heart {
    font-size: 4rem;
}
