.div-card {
    padding-top: 3px;
}
.div-card:hover {
    margin-top: -3px;
}

.header {
    display: flex;
    align-items: center;

    & > * {
        margin: 0px;
    }
}

.title {
    flex: 1;
    display: block;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 8px;
}

.description {
    font-size: 1.2rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.rating {
    margin-bottom: 10px;
}

.sold {
    font-size: 1.2rem;
    margin-left: 4px;
}
