.wrapper {
    background-color: var(--background-color);
}

.wrapper-header {
    padding: 30px 10% 0px 10%;
    background-color: #ffffff;
}

.wrapper-content {
    margin: 0px 10% 0px 10%;
}

.box {
    display: flex;
    align-items: center;
    gap: 50px;
}

.wrapper-shop {
    min-width: 380px;
    min-height: 130px;
    color: #ffffff;
}

.shop-background {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px 20px 0px 20px;
    min-height: 130px;
}

.shop-avatar {
    display: flex;
    gap: 15px;

    & > img {
        width: 65px;
        height: 65px;
        border-radius: 100rem;
    }
}

.shop-name {
    font-size: 2rem;
    margin-top: 5px;
    margin-bottom: 5px;
}

.shop-status {
    font-size: 1.3rem;
    font-weight: 200;
    opacity: 0.8;
}

.shop-interact {
    margin-top: 10px;
}

.button-interact {
    margin: 0px 10px;
    font-weight: 300;
    color: #ffffff;
    padding: 4px 25px;
    width: 150px;

    & * {
        font-size: 1.6rem;
    }

    &:hover:not(.unhover) {
        color: red;
        border-color: red;
    }

    &.unhover:hover {
        border-color: #ffffff;
        cursor: not-allowed;
    }
}

.content {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.block {
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: 400;

    span {
        font-size: 1.6rem;
    }
}

.block-content {
    color: var(--primary-color-hover);
}

.wrapper-tab {
    margin-top: 10px;
    display: flex;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
}

.tabs {
    color: var(--primary-color-hover);
    padding: 16px 40px;
    width: fit-content;
    min-width: 190px;
    text-align: center;
    font-size: 1.6rem;

    &.active {
        border-bottom: 2px solid var(--primary-color-hover);
    }

    &:hover {
        cursor: pointer;
        color: red;
    }
}

.block-type {
    margin-top: 40px;

    & > h2 {
        margin-bottom: 8px;
        text-transform: uppercase;
        font-size: 1.6rem;
        color: rgba(0, 0, 0, 0.54);
        font-weight: 500;
    }
}

.list-product {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    background-color: #ffffff;
    padding: 15px 2% 30px 2%;
}
