.wrapper {
    width: var(--width-page);
    padding: 10px 0px;
    width: 100%;
    background-color: #006b47;
    color: white;
}

.row-wrapper {
    align-items: center;
}

.logo {
    height: 80px;
    width: auto;
    &:hover {
        cursor: pointer;
    }
}

.search-input {
    button {
        background-color: var(--primary-color);

        &:hover {
            background-color: var(--primary-color-hover) !important;
        }
    }

    & * {
        &:hover {
            border-color: var(--primary-color) !important;
            box-shadow: none !important;
        }

        &:focus {
            border-color: var(--primary-color) !important;
            box-shadow: none !important;
        }
    }
}

.wrapper-home:hover {
    cursor: pointer;
}

.wrapper-account {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 10px;

    & > div {
        display: flex;
        align-items: center;
    }
}

.auth-user {
    display: flex;
    align-items: center;
}

.account {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 1.4rem;

    &:hover {
        cursor: pointer;
    }
}

.cart-icon {
    cursor: pointer;
}

.text-header {
    color: var(--text-item-header);
    font-weight: 500;
}

.username {
    margin-left: 4px;
    font-size: 1.4rem;

    &:hover {
        cursor: pointer;
    }
}

.text-option-header {
    margin: 0;
    padding: 10px 0;
    height: 100%;

    &:hover {
        cursor: pointer;
        background-color: #e9e9e9;
    }
}
