.title {
    font-size: 3rem;
    margin-bottom: 12px;
}

.table {
    margin-top: 20px;
}

.approved-text {
    color: #38aa3b;
    font-size: 1.4rem;
}

.rejected-text {
    color: #e94b23;
    font-size: 1.4rem;
}
