.wrapper {
    position: relative;
    margin: 0 10%;
    padding-bottom: 30px;
    background-color: white;
}

.list-product {
    margin: 20px 10px 0px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.see-more {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
