.wrapper {
    background-color: var(--background-color);
    padding-top: 24px;
}

.wrapper-content {
    margin: 0 10%;
    padding-bottom: 30px;
    background-color: white;
}

.list-product {
    margin: 20px 2% 0px 2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.see-more {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.slide-wrapper {
    position: relative;
    width: 100%;
}

.slider {
    width: 67%;
}

.slide-image-right1 {
    position: absolute;
    width: 32.5%;
    top: 3px;
    right: 0;
    z-index: 10;
}
.slide-image-right2 {
    position: absolute;
    width: 32.5%;
    top: 50%;
    right: 0;
    z-index: 10;
}
